/* Color variables */
$color-grey: #737373;
$color-black: #171717;
$color-intense-white: #fff;
$color-white: #fafafa;
$color-blue: #2979ff;
$color-alice-blue: #fafdff;
$color-dark-blue: #0b2e69;
$color-light-blue: #ced8ec;
$color-opacity-blue: #8c9fc44a;
$color-opacity-gray: #f8f8f8ab;
$color-pastel-blue: #b8c0d0;
$color-white-smoke: #f5f5f5;
$color-red: #dc1919;
$color-gull-gray: #95a1b9;
$color-athens-gray: #eaebf0;
$color-blue-darker: #3d67ac;
$color-decline: #e76666;
$color-decline-hover: #e04c4c;
$color-blue-pale: #557ec1;
$color-blue-other: #2773f1;
$color-bright-gray: #e7ebf1;
$color-opacity-nepal: #8c9fc34a;
$color-grey-dropdown: #dee3ee;
$color-grey-arrow: #d8e1f1;
$color-grey-label: #878787;
$color-smoke-screen: #aeaeae;
$color-scroll-ball: #d3d4d6;
$color-scroll-slider: #9fa6ae;
$color-table-employees: #f8f8f8;
$color-table-former: #e7e7e7;
$color-table-pending: #f5fff6;
$color-table-uncomplete: #fffaf1;
$color-background-input: #8c9fc32b;
$color-salary-border: #ccd6eb;
$color-salary-table-shadow: #245d731a;
$color-bills-table-container-background: #e7f7e1;
$color-bills-table-container-border: #d7e8d0;
$color-payroll-salary-table-header: #fff8f2;
$color-payroll-salary-table-border: #e1dfda;
$color-payroll-salary-table-content: #fffcf9;
$color-gross-salary-table-header: #edfde7;
$color-gross-salary-table-content: #f1faed;
$color-gross-salary-table-border: #e7f6e1;
$color-datapicker-selected: #2979ff1f;
$color-manage-blue: #2977ff38;
$color-button-opacity-blue: #2979ffab;
$color-button-disabled: #7696cdab;
$color-dark-opacity-blue: #0b2e694f;
$color-logs-table-dark-row: #f2f6f9;
$color-hover-option: #0000000a;
$shared-shadow: 0 0 15px #20202333;
$box-shadow-autofill: 0 0 0 30px $color-white inset;
$box-shadow-snackbar: 0 0 33px #e76666b3;
$box-shadow-button: 0 4px 6px #2979ff33;
$box-shadow-table-row: 0 0 3px #00000014;
$color-red-notification: #c05656;
$color-green-noficiation: #37983b;
$color-light-green-notification: #e1ffe1;
$color-dark-red-notification: #4b0000;
$color-hr-yellow: #e7cb66;
$color-hr-red: #e76666;
$color-hr-green: #76d87a;
$color-notification: #f0f5fe;
$color-settings-border: #d5deee;
