@import "../../../../../assets/scss/styles";

.employee {
  // min-width: 890px;
  position: relative;
  border-collapse: collapse;
  width: 100%;

  &__header {
    font-size: 16px;
    position: sticky;
    top: 0;
    background: $color-table-employees;

    &::after {
      position: absolute;
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: $color-opacity-blue;
    }

    &-item {
      cursor: pointer;
      padding-left: 16px;
      padding-bottom: 8px;
      padding-top: 8px;
      color: $color-dark-blue;
      font-weight: 500;
      text-align: left;
    }
  }

  &__row {
    td {
      border-bottom: 5px solid $color-opacity-gray;
      background-color: $color-intense-white;
    }
  }

  &__body {
    color: $color-black;

    &-item {
      font-size: 14px;
      font-weight: 400;
      padding: 16px 0 16px 18px;

      &:last-child {
        padding-right: 10px;
      }
    }
  }
}

.rate-input {
  width: 70px;
  border: 1px solid $color-blue;
  &:focus {
    outline-color: $color-blue !important;
  }
}

.invalid {
  border-color: $color-red;
  &:focus {
    outline-color: $color-red !important;
  }
}
