<mat-form-field class="w-100">
  <mat-label>Choose the project</mat-label>
  <input
    type="text"
    matInput
    [formControl]="projectControl"
    [matAutocomplete]="projectAutocomplete"
  />
  @if (projectControl.value) {
  <button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="projectControl.reset()"
  >
    <mat-icon>close</mat-icon>
  </button>
  }
  <mat-autocomplete
    #projectAutocomplete="matAutocomplete"
    [autoSelectActiveOption]="true"
    [displayWith]="displayFn"
  >
    @for (option of filteredOptions | async; track option) {
    <mat-option [value]="option" (click)="chooseProject(option)">{{
      option.name
    }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
