@import "../../../../assets/scss/styles";

:host {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  transition: all 0.6s ease-in-out;
}

.dialog-main__container {
  height: 100%;
  background-color: white;
  width: 100%;
  padding: 20px;
  @include flex-box(column, nowrap, space-between, center);

  .maternity {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dialog-content__container {
    border: unset;
  }

  .label-input {
    font-size: 16px;
    line-height: 14px;
    color: $color-grey;
  }
}

.button__save {
  padding-left: 45px;
  padding-right: 45px;
}

::ng-deep {
  .mat-mdc-dialog-component-host {
    display: unset !important;
  }
}
