<!-- <div class="body" >
    <button mat-button mat-dialog-close>No</button>
</div> -->

<div
  class="dialog-main__container"
  [@toggleDrawer]="isOpen ? 'opened' : 'closed'"
>
  <div class="dialog-header__container">
    <h3 class="dialog-header__title">Create invoice</h3>
  </div>

  <!---------- main content ---------->

  <div class="dialog-content__container w-100" [formGroup]="newInvoiceForm">
    <div>
      <div class="row align-items-center index-z mb-4">
        <label
          class="label-input mb-3"
          appMarkAsterisk
          [formGroup]="newInvoiceForm"
          [controlName]="'project'"
          [touched]="newInvoiceForm.get('project')!.touched"
          >Project
        </label>
        <app-project-autocomplete
          [projectList]="projectLists"
          formControlName="project"
        ></app-project-autocomplete>
        @if (project.invalid) {
        <div class="error">
          <span class="error__message">{{
            "Please choose project from the list"
          }}</span>
        </div>
        }
      </div>
      <div class="row align-items-center index-z mb-4">
        <label
          class="label-input mb-3"
          appMarkAsterisk
          [formGroup]="newInvoiceForm"
          [controlName]="'projectEmail'"
          [touched]="newInvoiceForm.get('projectEmail')!.touched"
          >Email
        </label>
        <mat-form-field>
          <mat-label>Select email from the list</mat-label>
          <mat-select formControlName="projectEmail">
            @for (email of emailsLists; track email) {
            <mat-option [value]="email">{{ email }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        @if (!project.value) {
        <div class="error">
          <span class="error__message">{{
            "Please choose project first "
          }}</span>
        </div>
        }
      </div>
      <div class="row align-items-center index-z mb-4">
        <label
          class="label-input mb-3"
          appMarkAsterisk
          [formGroup]="newInvoiceForm"
          [controlName]="'startDate'"
          [touched]="newInvoiceForm.get('startDate')!.touched"
          >Start date
        </label>
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input
            matInput
            formControlName="startDate"
            [matDatepicker]="startPicker"
          />
          <mat-hint>YYYY-MM-DD</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row align-items-center index-z">
        <label
          class="label-input col-4 mb-3"
          appMarkAsterisk
          [formGroup]="newInvoiceForm"
          [controlName]="'endDate'"
          [touched]="newInvoiceForm.get('endDate')!.touched"
          >End date
        </label>
        <mat-form-field>
          <mat-label>End date</mat-label>
          <input
            matInput
            formControlName="endDate"
            [matDatepicker]="endPicker"
            [min]="startDate.value"
          />
          <mat-hint>YYYY-MM-DD</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="endPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
      @if (generated && !dataCert.length) {
      <div class="row mt-4 justify-content-center align-items-center">
        <p class="col-auto p-0 m-0 no-generate">There is no generated Hours</p>
      </div>
      }

      <div class="row justify-content-center align-items-center index-z mt-4">
        <button
          class="button button__createInvoice employees__button col-auto align-items-center"
          (click)="generateProjectHours()"
          matTooltip="For generation working hours fill all fields"
          matTooltipPosition="above"
        >
          Generate working hours
        </button>
      </div>
    </div>

    @if (generated && dataCert.length) {
    <div class="w-100 working-hours__table mt-4" #tableWrapper>
      <app-working-hours-table
        [headers]="headersCert"
        [content]="dataCert"
        formControlName="rates"
      >
      </app-working-hours-table>
    </div>

    <div class="w-100 d-flex align-items-start">
      <p class="m-0"><strong>Total: </strong>{{ total }}</p>
    </div>
    }
  </div>

  @if(isFormInvalid) {
  <div class="error position-absolute">
    <p class="m-0">{{ errorMessage }}</p>
  </div>
  }

  <!--  save/cancel buttons -->
  <div class="row justify-content-end dialog-button__container pt-3">
    <div class="col-auto p-0">
      <button class="button button__save add-margin" (click)="save()">
        Save
      </button>
      <button class="button button__cancel" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
