@import "../../../../assets/scss/styles";

:host {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 550px;
  transition: all 0.6s ease-in-out;
}

.dialog-main__container {
  height: 100%;
  background-color: white;
  width: 100%;
  padding: 20px;
  @include flex-box(column, nowrap, space-between, center);
  transition: height 0.6s ease-in-out;

  .dialog-content__container {
    border: unset;
    height: 100%;
    @include flex-box(column, nowrap, space-evenly, initial);
  }

  .label-input {
    font-size: 16px;
    line-height: 14px;
    color: $color-grey;
  }
}

.button__save {
  padding-left: 45px;
  padding-right: 45px;
}

.working-hours__table {
  overflow-y: auto;
  height: 300px;
}

.no-generate {
  height: 100px;
}

.error {
  bottom: 8%;
  color: $color-red;
  font-size: 12px;
  // background-color: $color-red;
  // border-radius: 10px;
  // text-align: center;
  // padding: 10px;
}

::ng-deep {
  .mat-mdc-dialog-component-host {
    display: unset !important;
  }
}
